<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Certificado de Conclusão</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            color: #333;
        }
        .certificate {
            max-width: 1000px;
            margin: 50px auto;
            padding: 20px;
            border: 2px solid #4CAF50;
            border-radius: 10px;
        }
        .second-page {
            max-width: 1000px;
            margin: 80px auto;
            padding: 20px;
            border: 2px solid #4CAF50;
            border-radius: 10px;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <div class="certificate">

        <h2 class="text-2xl font-bold mb-2">Certificado de Conclusão</h2>

        <p class="mb-4">Certifica que,</p>

        <p class="text-lg font-bold mb-2">Cleiton Evans</p>

        <p>CPF: 107.083.489-04</p>

        <p>Participou do treinamento de</p>

        <p class="text-lg font-bold mb-2">Treinamento NR35 Trabalho em Altura com Caminhões</p>

        <p>de acordo com a Norma Regulamentadora 35 (NR 35), da Portaria SIT Nº 313, de 23/03/2012 do Ministério do Trabalho, com carga horária de 8 horas.</p>

        <p>Data: 07 de Janeiro de 2023</p>

       <div class="flex flex-row mt-10 gap-10">
            <div class="flex flex-col">  
                <p>------------------------------------------------</p>
                <p class="text-xs">RENY DE SOUZA <br> TST <br> BPC <br> INST. NR20
                    Reg. MTE 6255/SC</p>
            </div>
            <div class="flex flex-col">  
                <p>------------------------------------------------</p>
                <p class="text-xs">PARTICIPANTE</p>
            </div>
       </div>

        <div class="footer mt-4">
            <p class="text-green-500">ST CAPACITAÇÃO EM SEGURANÇA DO TRABALHO</p>
            <p class="text-xs">CENTRO DE TREINAMENTO<br>
            NR 12, 18, 20, 33, 35<br>
            CIPA - BRIG. COMB. INCÊNDIO<br>
            PPRA - PCMSO<br>
            <br>
            RENY DE SOUZA BUENO - ME<br>
            CNPJ: 19.003.553/0001-26<br>
            Contatos: (41) 99810-8728 / 99926-9551<br>
            souzatreinamentos@hotmail.com.br<br>
            site: <a href="https://www.souzatreinamentosst.com.br/">https://www.souzatreinamentosst.com.br/</a></p>
        </div>

    </div>

    <!-- second page -->
    <div class="second-page">
        <h1>2 pagina</h1>
    </div>

</body>
</html>
